body {
    padding: 5rem;
    background-color: #F2F0EF;
    color: black;
    font-family: sans-serif;
    line-height: 1.5;
}

@media (max-width: 480px) {
    body {
        padding: 1.5rem;
    }
}

#resource-grid {
    display: grid;
    padding: 1rem 0;
    align-items: stretch;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.resource-card {
    display: flex;
    height: 100%;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 7px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.25s ease;
    flex-direction: column;
}

.resource-card:hover {
    box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}

.card-link-wrapper {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.resource-content-type,
.resource-condition {
    display: flex;
    margin: .25rem 0;
    padding: .5rem 1rem;
    background-color: #11544f;
    color: white;
    font-size: .9rem;
    transform: skew(-10deg);
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    /* margin-right: -.5px; */
}

.resource-condition {
    background-color: #388b86;
    color: black;
}

.view-resource-btn {}

.filter-tag-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}